{
  "presets": [
    "next/babel",
    "@babel/env",
    "@babel/react"
  ],
  "plugins": [
    [
      "styled-components",
      {
        "ssr": true
      },
      "babel-plugin-styled-components"
    ]
  ]
}