* {
  box-sizing: border-box;
}
html,
body {
  padding: 0;
  margin: 0;
  font-size: 16px;
  background: #ffffff;
  font-family: -apple-system, BlinkMacSystemFont, Helvetica Neue,
    Helvetica, Arial, sans-serif;
  transition: all 300ms ease 200ms;
}
section {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 1.5rem 5rem 1.5rem;
  letter-spacing: 1.5px;
}
section h1 {
  font-size: 3rem;
  font-weight: 400;
}
